/* Basic Style */
body {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

/* Buttons */
.button {
  width: 60px;

  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #888888;

  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

.button_delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button_delete img:hover {
  transform: rotateZ(0);
}

/* Inputs */
.todo-item__input,
.todo-item__label {
  display: inline-block;
  flex-grow: 1;
  width: 56%;
}

.todo-item__input {
  height: 21px;
  margin: 0;
  padding: 0 9px;

  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888888;

  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 6px;
  outline: none;
}

.todo-item__input:focus {
  color: #333333;
}

.todo-item__input_add {
  width: 318px;
}

.todo-item__input_edit {
  width: 226px;
}

/* Header */
.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header img {
  width: 100%;
}

.header__learn-more-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

/* Main */
.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.new-todo {
  display: flex;
}

.tasks {
  margin: 0;
  padding: 0;
}

/* Heading */
.section-title {
  margin: 0;
  padding: 30px 0 10px;

  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;

  border-bottom: 2px solid #333333;
}

.section-title_new-todo {
  margin: 0 0 20px;
}

/* Task list */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
  list-style: none;
}

.todo-item > * {
  vertical-align: middle;
}

.todo-item__checkbox {
  margin: 0 10px;
}

.todo-item__label {
  width: 226px;
  padding-left: 10px;
  font-size: 18px;
  box-sizing: border-box;
}

/* Completed */
.tasks_completed .todo-item__label {
  text-decoration: line-through;
  color: #888888;
}

/* Edit Task */
.todo-item__input_edit {
  display: none;
}

.todo-item_edit-mode .todo-item__input_edit {
  display: inline-block;
  width: 224px;
}

.todo-item_edit-mode .todo-item__label {
  display: none;
}